@model List<DeparturePriceView>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-center">List</h4>

<table class="table table-bordered">
    <tr>
		<th>#</th>
		<th>FromWhere</th>
		<th>ToWhere</th>
		<th>Price</th>
		<th>Price Update</th>
		<th>City Update</th>
		<th>Price Delete</th>
    </tr>
	@foreach(var x in Model){
		<tr>
		<th>@x.Id</th>
		<th>@x.FromWhere</th>
		<th>@x.ToWhere</th>
		<th>@x.Price Azn</th>
		<th><a href="/admin/departure/update/@x.Id" class="btn btn-outline-warning">Price Update</a></th>
		<th><a href="/admin/departure/cityupdate/@x.Id" class="btn btn-outline-info">City Update</a></th>
		<th><a href="/admin/departure/delete/@x.Id" class="btn btn-outline-danger">Price Delete</a></th>
    </tr>
	}
</table>
<div class="form-group">
	<a href="/Admin/Departure/Add/" class="btn btn-outline-primary">Departure Add</a>
</div>

