@model List<AppRole>
@{
    ViewData["Title"] = "Role All List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="page-title mb-0 p-0">Taxi</h3>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/Admin/Order/AllList">Ana Seyfe</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Role Listəsi</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                  
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
<table class="table table-bordered">

	<tr>
		<th>#</th>
		<th>Name</th>
		<th>NormalizedName</th>
		<th>Rol Update</th>
		<th>Rol Remove</th>
    </tr>

@foreach (var item in Model)
{
   	<tr>
		<th>@item.Id</th>
		<th>@item.Name</th>
		<th>@item.NormalizedName</th>
		<th><a href="#" class="btn btn-outline-info">Yenile</a></th>
		<th><a href="#" class="btn btn-outline-danger">Sil</a></th>
    </tr> 
}

</table>
<br />
<a href="/Admin/Role/RoleAdd" class="btn btn-primary">Role əlave etmək</a>
<a href="/Admin/Role/UserRoleList" class="btn btn-primary">Role olan istifadəçilər</a>            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->

