@model List<AppUser>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="page-title mb-0 p-0">Taxi</h3>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/Admin/Order/AllList">Ana Seyfe</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Role verilən İstifadəçi Listəsi</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                  
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
<div class="mr-4 ml-4">
<h5>İstifadəçi Listəsi</h5>
<br />
<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>Istifadeci Adi</th>
		<th>Rol Ver</th>
    </tr>
	@foreach(var item in Model)
	{
		<tr>
		<td>@item.Id</td>
		<td>@item.UserName</td>
	<td><a href="/Admin/Role/AssignRole/@item.Id" class="btn btn-outline-info">Rol Ver</a></td>

    </tr>

	}	
</table>
</div>            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->

